In [1]:
# import mysql.connector as connection
from sqlalchemy import create_engine
import os
import pandas as pd

from dotenv import load_dotenv

load_dotenv()

conn_str = f"mysql+pymysql://{os.getenv('USER')}:{os.getenv('PASSWD')}@{os.getenv('HOST')}:{os.getenv('PORT')}/{os.getenv('DATABASE')}"    
engine = create_engine(conn_str)
query = 'SELECT * from ClimateObservations LIMIT 50'
df = pd.read_sql(query, con=engine)
df.head()

,ID,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,ACMH,ACMH_ATTRIBUTES,ACSH,...,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT21,WT21_ATTRIBUTES,WT22,WT22_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,1,USW00023047,"AMARILLO AIRPORT, TX US",35.22027,-101.71733,1099.3,1943-03-01,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,USW00023047,"AMARILLO AIRPORT, TX US",35.22027,-101.71733,1099.3,1943-03-02,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,3,USW00023047,"AMARILLO AIRPORT, TX US",35.22027,-101.71733,1099.3,1943-03-03,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,USW00023047,"AMARILLO AIRPORT, TX US",35.22027,-101.71733,1099.3,1943-03-04,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,5,USW00023047,"AMARILLO AIRPORT, TX US",35.22027,-101.71733,1099.3,1943-03-05,None,None,None,...,None,None,None,None,None,None,None,None,None,None